---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=@ngoodall
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="k1xAkSV7wHQx6fvioI9cIvyTW", oauth_nonce="d8ff1b6e9a2367b1c6ab87dcbfb0626c",
        oauth_signature="JhBH9e1TVk6fo8Iw1v2J2vUwh8A%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1424636902", oauth_token="2165087958-igdBFUzugKOzUT2sNH2QQefpy7wMD6Ptacc447K",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 22 Feb 2015 20:28:22 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - a04a7bc27e1ca60fe2600902688a3c70
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1424637802'
      X-Response-Time:
      - '128'
      X-Transaction:
      - 5b7ce4346c698181
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Mon Mar 10 02:37:34 +0000 2014","id":442851729298563073,"id_str":"442851729298563073","text":"It
        is amazing to see you change the lives of so many people. I love your show!
        @TLC #LongIslandMedium","source":"\u003ca href=\"https:\/\/mobile.twitter.com\"
        rel=\"nofollow\"\u003eMobile Web (M2)\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":17531821,"id_str":"17531821","name":"ngoodall","screen_name":"ngoodall","location":"","profile_location":null,"description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":5,"friends_count":10,"listed_count":0,"created_at":"Fri
        Nov 21 05:30:35 +0000 2008","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":5,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"LongIslandMedium","indices":[84,101]}],"symbols":[],"user_mentions":[{"screen_name":"TLC","name":"TLC
        Network","id":21313855,"id_str":"21313855","indices":[79,83]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Thu
        May 07 14:24:21 +0000 2009","id":1727446254,"id_str":"1727446254","text":"researching
        the best deals","source":"\u003ca href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter
        Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":17531821,"id_str":"17531821","name":"ngoodall","s[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=@ngoodall
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="k1xAkSV7wHQx6fvioI9cIvyTW", oauth_nonce="a01a179e1411fa4d9a3f916fa4591783",
        oauth_signature="1y5IhIRH%2FAKAgvIauAKCwB2aajg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1426021888", oauth_token="2165087958-igdBFUzugKOzUT2sNH2QQefpy7wMD6Ptacc447K",
  [...]
