---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=skynews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="k1xAkSV7wHQx6fvioI9cIvyTW", oauth_nonce="af0f6cc58d8a298f467974b12c357b6d",
        oauth_signature="y9AwQOJmvgjsWy6Hk25Ug8I5TjQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1426025946", oauth_token="2165087958-igdBFUzugKOzUT2sNH2QQefpy7wMD6Ptacc447K",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 10 Mar 2015 22:19:03 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - c9b5d15c95cf5f172556262704c76dc0
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '171'
      X-Rate-Limit-Reset:
      - '1426026043'
      X-Response-Time:
      - '221'
      X-Transaction:
      - 4dc37c87acd82d59
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"id":7587032,"id_str":"7587032","name":"Sky News","screen_name":"SkyNews","location":"London,
        UK","profile_location":null,"description":"Stories direct from the @SkyNews
        newsroom. Tweet us your queries and questions. For breaking news, follow @SkyNewsBreak.","url":"http:\/\/t.co\/7witOoeYyy","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/7witOoeYyy","expanded_url":"http:\/\/www.skynews.com\/","display_url":"skynews.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1935561,"friends_count":17,"listed_count":15328,"created_at":"Thu
        Jul 19 14:42:53 +0000 2007","favourites_count":1,"utc_offset":0,"time_zone":"London","geo_enabled":false,"verified":true,"statuses_count":131093,"lang":"en","status":{"created_at":"Tue
        Mar 10 22:18:28 +0000 2015","id":575420482612301824,"id_str":"575420482612301824","text":"New
        report says CIA has tried to hack security protecting Apple phones &amp; tablets
        for a decade http:\/\/t.co\/r0qZyaIrq6 http:\/\/t.co\/Gw0TQ6D7SZ","source":"\u003ca
        href=\"http:\/\/www.socialflow.com\" rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":3,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/r0qZyaIrq6","expanded_url":"http:\/\/trib.al\/puLb1Je","display_url":"trib.al\/puLb1Je","indices":[98,120]}],"media":[{"id":575420482490667010,"id_str":"575420482490667010","indices":[121,143],"media_url":"http:\/\/pbs.twimg.com\/media\/B_xN4U9XEAI5Y6e.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/B_xN4U9XEAI5Y6e.jpg","url":"http:\/\/t.co\/Gw0TQ6D7SZ","display_url":"pic.twitter.com\/Gw0TQ6D7SZ","expanded_url":"http:\/\/twitter.com\/SkyNews\/status\/575420482612301824\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":191,"resize":"fit"},"medium":{"w":600,"h":337,"resize":"fit"},"large":{"w":1024,"h":576,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"000000","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/507147777357262848\/OJoZrDWj.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/507147777357262848\/OJoZrDWj.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/459651300204888064\/6TKUNqTU_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/459651300204888064\/6TKUNqTU_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/7587032\/1398424340","profile_link_color":"385FAC","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"EDEDED","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Tue, 10 Mar 2015 22:19:06 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=skynews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="k1xAkSV7wHQx6fvioI9cIvyTW", oauth_nonce="a90667483bc35246de042db9c2e19433",
        oauth_signature="3tn1HUqPWn5arMtb18NzIYcuenY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1426025946", oauth_token="2165087958-igdBFUzugKOzUT2sNH2QQefpy7wMD6Ptacc4[...]
