---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=@skynews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="k1xAkSV7wHQx6fvioI9cIvyTW", oauth_nonce="344c0381e0b586579ffd8e636fe420ac",
        oauth_signature="8548Vms370gfxoGwXCQdT6HIoC4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1424636903", oauth_token="2165087958-igdBFUzugKOzUT2sNH2QQefpy7wMD6Ptacc447K",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 22 Feb 2015 20:28:22 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 744fd60b9743b1fc6504c63f68b1925d
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1424637802'
      X-Response-Time:
      - '140'
      X-Transaction:
      - e3ea8ee609fa301f
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Sun Feb 22 20:25:47 +0000 2015","id":569593918666498048,"id_str":"569593918666498048","text":"An
        uprising at a jail near the US-Mexico border has left the prison \"uninhabitable\"
        http:\/\/t.co\/rnvCaKzNCr http:\/\/t.co\/52LHxf7KAG","source":"\u003ca href=\"http:\/\/www.socialflow.com\"
        rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":7587032,"id_str":"7587032","name":"Sky
        News","screen_name":"SkyNews","location":"London, UK","profile_location":null,"description":"Stories
        direct from the @SkyNews newsroom. Tweet us your queries and questions. For
        breaking news, follow @SkyNewsBreak.","url":"http:\/\/t.co\/7witOoeYyy","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/7witOoeYyy","expanded_url":"http:\/\/www.skynews.com\/","display_url":"skynews.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1900803,"friends_count":17,"listed_count":15226,"created_at":"Thu
        Jul 19 14:42:53 +0000 2007","favourites_count":1,"utc_offset":0,"time_zone":"London","geo_enabled":false,"verified":true,"statuses_count":128367,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"000000","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/507147777357262848\/OJoZrDWj.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/507147777357262848\/OJoZrDWj.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/459651300204888064\/6TKUNqTU_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/459651300204888064\/6TKUNqTU_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/7587032\/1398424340","profile_link_color":"385FAC","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"EDEDED","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":5,"favorite_count":6,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/rnvCaKzNCr","expanded_url":"http:\/\/trib.al\/GCfqodG","display_url":"trib.al\/GCfqodG","indices":[84,106]}],"media":[{"id":569593918552305664,"id_str":"569593918552305664","indices":[107,129],"media_url":"http:\/\/pbs.twimg.com\/media\/B-eapq2IcAAyIbo.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/B-eapq2IcAAyIbo.jpg","url":"http:\/\/t.co\/52LHxf7KAG","display_url":"pic.twitter.com\/52LHxf7KAG","expanded_url":"http:\/\/twitter.com\/SkyNews\/status\/569593918666498048\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":191,"resize":"fit"},"medium":{"w":600,"h":337,"resize":"fit"},"large":{"w":1024,"h":576,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":569593918552305664,"id_str":"569593918552305664","indices":[107,129],"media_url":"http:\/\/pbs.twimg.com\/media\/B-eapq2IcAAyIbo.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/B-eapq2IcAAyIbo.jpg","url":"http:\/\/t.co\/52LHxf7KAG","display_url":"pic.twitter.com\/52LHxf7KAG","expanded_url":"http:\/\/twitter.com\/SkyNews\/status\/569593918666498048\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":191,"resize":"fit"},"medium":{"w":600,"h":337,"resize":"fit"},"large":{"w":1024,"h":576,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sun
        Feb 22 20:19:30 +0000 2015","id":569592338860920833,"id_str":"569592338860920833","text":"Police
        assessing al Shabaab threat to Oxford Street and Westfield shopping centres
        http:\/\/t.co\/EWyV8kOkRK http:\/\/t.co\/GxQx8mzSve","source":"\u003ca href=\"http:\/\/www.socialflow.com\"
        rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=@skynews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="k1xAkSV7wHQx6fvioI9cIvyTW", oauth_nonce="bdef16282da477992c919ddecc09796b",
        oauth_signature="1%2BInPyQiZezBNOaSo77BsxFe8YU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1426021888", oauth_token="2165087958-igdBFUzugKOzUT2sNH2QQefpy7wMD6Ptacc447K",
   [...]
