---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=limeblast
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="k1xAkSV7wHQx6fvioI9cIvyTW", oauth_nonce="ea800cca8d0f6a8fbb52f2982c16f397",
        oauth_signature="BgivyGZs4bqmjqPNUEFzOwo9bhA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1426573320", oauth_token="2165087958-igdBFUzugKOzUT2sNH2QQefpy7wMD6Ptacc447K",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 17 Mar 2015 06:21:59 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - f41d9541662886690a5e8c4a02c7da59
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1426574183'
      X-Response-Time:
      - '125'
      X-Transaction:
      - 9db386b08ae30802
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"id":14409502,"id_str":"14409502","name":"Daniel Hollands","screen_name":"LimeBlast","location":"Royal
        Leamington Spa","profile_location":null,"description":"A jack-of-all-trades
        web developer trying his best to keep up to date with everything the Web has
        to offer.","url":"http:\/\/t.co\/Wg8eLBDBrG","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Wg8eLBDBrG","expanded_url":"http:\/\/limeblast.co.uk\/","display_url":"limeblast.co.uk","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":258,"friends_count":123,"listed_count":14,"created_at":"Wed
        Apr 16 16:04:32 +0000 2008","favourites_count":162,"utc_offset":0,"time_zone":"London","geo_enabled":true,"verified":false,"statuses_count":8495,"lang":"en","status":{"created_at":"Mon
        Mar 16 21:50:57 +0000 2015","id":577587886247272448,"id_str":"577587886247272448","text":"RT
        @BirminghamIO: We\u2019re going to have a party for the one-year anniversary
        of Birmingham.IO, but need to know when to host it https:\/\/t.co\/\u2026","source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        Mar 16 21:49:53 +0000 2015","id":577587617534967809,"id_str":"577587617534967809","text":"We\u2019re
        going to have a party for the one-year anniversary of Birmingham.IO, but need
        to know when to host it https:\/\/t.co\/gs0oesEUXi","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":1,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/gs0oesEUXi","expanded_url":"https:\/\/talk.birmingham.io\/t\/venue-for-the-1-year-anniversary-social\/1126\/5?u=limeblast","display_url":"talk.birmingham.io\/t\/venue-for-th\u2026","indices":[108,131]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"retweet_count":1,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"BirminghamIO","name":"Birmingham.IO","id":2539819962,"id_str":"2539819962","indices":[3,16]}],"urls":[{"url":"https:\/\/t.co\/gs0oesEUXi","expanded_url":"https:\/\/talk.birmingham.io\/t\/venue-for-the-1-year-anniversary-social\/1126\/5?u=limeblast","display_url":"talk.birmingham.io\/t\/venue-for-th\u2026","indices":[126,140]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"131516","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/477396178208702465\/36_7U_s4_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/477396178208702465\/36_7U_s4_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14409502\/1414401840","profile_link_color":"009999","profile_sidebar_border_color":"EEEEEE","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Tue, 17 Mar 2015 06:22:00 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=limeblast
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="k1xAkSV7wHQx6fvioI9cIvyTW", oauth_nonce="864e9b243ba8c7144146f8c45d268290",
        oauth_signature="U4L8TlmVeX%2FPJ59iwVIrGY0JpLU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1426573320", oauth_token="2165087958-igdBFUzugKOzUT2sNH2QQefpy7wMD6Pt[...]
