---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=ngoodall
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="k1xAkSV7wHQx6fvioI9cIvyTW", oauth_nonce="4a275fa462d1e98aeb73e702eae3fb04",
        oauth_signature="7ED%2FBZsaO%2F4B5p1jJ2Xv3fPuBf4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1426022600", oauth_token="2165087958-igdBFUzugKOzUT2sNH2QQefpy7wMD6Ptacc447K",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 10 Mar 2015 21:23:18 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 8910fdb94236ffb2c985aac3f00f583d
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '163'
      X-Rate-Limit-Reset:
      - '1426022784'
      X-Response-Time:
      - '118'
      X-Transaction:
      - 46fd79c8b15d0ca2
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"id":17531821,"id_str":"17531821","name":"ngoodall","screen_name":"ngoodall","location":"","profile_location":null,"description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":5,"friends_count":9,"listed_count":0,"created_at":"Fri
        Nov 21 05:30:35 +0000 2008","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":5,"lang":"en","status":{"created_at":"Mon
        Mar 10 02:37:34 +0000 2014","id":442851729298563073,"id_str":"442851729298563073","text":"It
        is amazing to see you change the lives of so many people. I love your show!
        @TLC #LongIslandMedium","source":"\u003ca href=\"https:\/\/mobile.twitter.com\"
        rel=\"nofollow\"\u003eMobile Web (M2)\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"LongIslandMedium","indices":[84,101]}],"symbols":[],"user_mentions":[{"screen_name":"TLC","name":"TLC
        Network","id":21313855,"id_str":"21313855","indices":[79,83]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Tue, 10 Mar 2015 21:23:20 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=ngoodall
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="k1xAkSV7wHQx6fvioI9cIvyTW", oauth_nonce="4eac640db8d63f860002d365114c3933",
        oauth_signature="9zll6BpbSOEtBcV4r8ub6HC7Wy0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1426022600", oauth_token="2165087958-igdBFUzugKOzUT2sNH2QQefpy7wMD6Ptacc[...]
[...]
